=simple_form_for(@medical_aid,:html => {:class=>"form-inline "}) do |f|
  .span4
    %fieldset
      =f.input :name
      =f.input :address
      =f.input :city
      =f.input :province

      =f.input :contact_person
      =f.input :email
      =f.input :tel
      =f.input :fax
      =f.button :submit
  .span4
    =f.fields_for :medical_aid_plan do |plan|
      =render 'medical_aid_plan_fields', f: plan
    =link_to_add_fields "Add Plan", f, :medical_aid_plan