=simple_form_for(@profile) do |f|
  -if @profile.errors.any?
    .alert.alert-error
      %button.close{"data-dismiss".to_sym => "alert"} x
      %a
      =pluralize(@profile.errors.count, "error") + "prohibited this profile from being saved:"
      %ul
        -@profile.errors.full_messages.each do |msg|
          %li= msg
  .span4
    %fieldset
      .well
        %p="Select Profile Type to Add"
        =f.collection_select :profile_type_id, ProfileType.order(:name), :id, :name
        -# =link_to "Add Profile Type", "#", :class => "btn btn-success"

  .span4

