%h2 Patient Profile List
.span8
  %table#pprofile
    %thead
      %tr
        %th="Description"
        %th="Person #"
        %th="Profile"
        %th="Snapshot"
        %th="Show"
        %th="Edit"
        %th="Delete"
    %tbody
      - @profiles.each do |f|
        %tr
          %td=f.description
          %td=f.person_id
          %td=f.profile_type_id
          %td=f.snapshot
          %td=link_to "Show", profile_path(f.id), :class => "btn"
          %td=link_to "Edit", edit_profile_path(f.id), :class => "btn"
          %td=link_to "Delete", profiles_path, confirm: 'Are you sure?', method: :delete, :class => "btn"

.span8
  =link_to "Create Patient Profile", new_profile_path, :class => "btn btn-success"