<h1>New Profile</h1>
<div class="span8">
  <div class="span8">
    <%= link_to 'Back', profiles_path, :class => "btn btn-warning right" %>
  </div>
    <div class="span8">
    <%= render 'form' %>
    </div>
</div>
