#profile-type.modal.fade{:style=>"display:none;"}
  %h3 Add Profile Type
  =simple_form_for(@profile_item,:url => {:controller=>:profile_items, :action=>:create}) do |f|
    =f.input :profile_type_id, :collection => ProfileType.all, :label_method => :name, :value_method => :id
    =f.input :value
    =f.hidden_field :time, :value => DateTime.now
    =f.hidden_field :person_profile_id, :value => @person_profile.id
    -if current_user.nil? == false
      =f.hidden_field :user_id, :value => current_user.id
    -else
      =f.input :user_id
    =f.submit "Next"

.span4
  %a.btn.btn-large{"data-toggle"=> "modal", :href=>"#profile-type"}Add Profile Type
%br