=simple_form_for(@person_profile,:html => {:class=>"form-inline "}) do |f|
  .span4
    %fieldset
      =f.input :comments


      =f.button :submit
//.span4
// =f.fields_for :profile_sub_types do |stype|
//=render 'profile_sub_type_fields', f: stype
// =link_to_add_fields "Add Sub Type", f, :profile_sub_types