%fieldset
  =f.input :profile_sub_type_id, :as=> :select, :input_html=>{:class=>"subtypeholder"}
  =f.input :value
  =f.hidden_field :time, :value => DateTime.now
  =f.hidden_field :_destroy
  =link_to "Remove", "#", :class => "remove_fields btn btn-danger"
  %script{:type => "text/javascript", :charset => "utf-8"}
    $('.subtypeholder').html(dataHolder);

