%h3 Choose your sub values for #{@profile_item.profile_type.name} - #{@profile_item.value}
-if @profile_subtypes.nil? == false
  =simple_form_for @profile_item do |x|
    =x.hidden_field :id, :value => @profile_item.id
    =simple_fields_for :profile_sub_items do |y|
      -@profile_subtypes.each do |z|
        %fieldset
          =y.hidden_field :profile_item_id, :value => @profile_item.id
          =y.hidden_field :profile_sub_type_id, :value => z.id
          =y.input :value, :label => z.name
          =y.hidden_field :time, :value => DateTime.now
          =y.hidden_field :user_id, :value => current_user.id
    =x.submit "Next"

-else
  %h2 "There are no sub types for the selected type"
