-if @person.errors.any?
  .alert.alert-error
    %button.close{"data-dismiss".to_sym => "alert"} x
    %a
    =pluralize(@person.errors.count, "error") + "prohibited this person from being saved:"
    %ul
      -@person.errors.full_messages.each do |msg|
        %li= msg

=simple_form_for @person ,:html=>{class: "form-horizontal"} do |f|

  -if session[:person_id] != nil
    %fieldset.well.pull-right
      %h3 Relation to #{Person.find(session[:person_id])}
      =f.input :relation, :collection=> Relation.all, :label_method=>:name, :value_method=>:id, :input_html=>{class: "span1"}



    
  =f.input :title
  =f.input :first_name
  =f.input :surname
  =f.input :dob, :as => :string, :input_html=>{class:"datepicker"}
  =f.input :other_name
  =f.input :sex ,:collection=> ["M","F"], :include_blank=>true
  =f.input :post_address
  =f.input :tel_home
  =f.input :tel_office
  =f.input :tel_mobile
  =f.input :email
  =f.input :home_address
  =f.input :city
  =f.input :township
  =f.input :province
  =f.input :post_code
  =f.input :nationality
  =f.input :pin
  =f.input :employer
  =f.input :occupation
  =f.hidden_field :user
  =f.file_field :pin_image

  =f.fields_for :person_medical_aids do |medaid|
    =render 'people/person_medical_aid_fields', f: medaid
  =link_to_add_fields "Add Plan", f, :person_medical_aids
  =f.submit
