%h3 Medical Aids
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Plan Name
    %th Join Date
    %th Policy Number
  -@person.person_medical_aids.each do |m|
    %tr
      %td="#{m.medical_aid_plan.medical_aid.name} #{m.medical_aid_plan.plan_name}"
      %td=m.join_date
      %td=m.aid_number
