%fieldset
  =f.grouped_collection_select :medical_aid_plan_id, MedicalAid.order(:name), :medical_aid_plans,:name,:id,:name
  =f.input :join_date
  =f.input :number
  =f.hidden_field :_destroy
  =link_to "Remove", "#", :class => "remove_fields btn btn-danger"