=simple_form_for(id,:html => {:class=>"form-inline "}) do |f|
  .span4
    %fieldset
      =f.date_select :datetime_in
      =f.hidden_field :people_id, :value => id
      =f.input :next_action
      =f.input :next_action_name
      =f.input :payment_type

      =f.button :submit