#wait-list.modal.fade{:style=>"display:none;"}
  %h3 Check-In Patient
  =simple_form_for(@waitlist,{:html => {:class=>"form-inline form-horizontal"}, :controller => :wait_lists, :action=>:new}) do |f|
    %fieldset
      =f.hidden_field :datetime_in, :value => DateTime.now
      =f.hidden_field :person_id, :value => id
      =f.input :next_action, :collection => ["Doctor", "Nurse", "Review", "Quick"], :include_blank => false
      =f.input :next_action_name
      =f.input :medical_aid_plan_id, :collection=> @person.medical_aid_plans.all, :label_method=> :name, :value_method=> :id

      =f.button :submit
-unless @person.wait_lists.where(:attended=>false).exists? or @person.consultations.where('status !="Closed"').exists?
  -content_for :sidebar do
    %a.btn.btn-large{"data-toggle"=> "modal", :href=>"#wait-list"}Check-In