

%hr.clearfix
.span9
  =simple_form_for @consultation, :class=>"form-inline form-horizontal" do |f|
    =f.hidden_field :time, :value=> DateTime.now
    =f.hidden_field :person_id
    =f.hidden_field :medical_aid_plan_id
    =f.input :status
    =f.fields_for :soaps do |soap|
      =render 'soap_fields', f: soap
    =link_to_add_fields "Add SOAP", f, :soaps
    %hr.clearfix

    =f.submit

%hr.clearfix
=link_to "Return to Consultations", consultations_path, :class=>"btn btn-primary"
