-if @consultation.soaps.exists?
  #new_prescription.modal.fade{:style=>"display:none"}

    %h3.clearfix New Prescription for #{@consultation.person}
    #person_id.hidden{:data=>{:person_id=>@consultation.person_id, :medical_aid_plan_id => @consultation.medical_aid_plan_id}}}

    .clearfix
    =simple_form_for(Prescription.new, :html=>{class:"form-horizontal"},:controller=>:prescriptions,:action=>:new) do |f|
      =f.hidden_field :soap_id, :value=> @consultation.soaps.last.id
      =f.hidden_field :user_id, :value=> current_user.id
      =f.hidden_field :time, :value=> DateTime.now
      =f.hidden_field :price, :value => 0
      =f.input :pharmacy_inventory, :collection=> PharmacyInventory.all, :label_method=>:name, :value_method=>:id
      %blockquote#price.pull-right
        %h3 E0.00
      =f.input :comment, :input_html=>{rows:"4"}
      .form-action
        =f.submit
  -content_for :sidebar do
    %a.btn.btn-large.btn-primary{"data-toggle"=> "modal", :href=>"#new_prescription"}Add Prescription
