%fieldset
  =f.input :soap_type_id, :collection =>SoapType.all, :label_method=>:name, :value_method=>:id
  =f.input :comment, :as=> :text, :input_html=>{:class => "span7" }, :wrapper_html=>{:class=>"left"}
  =f.fields_for :vitals do |vitals|
    =render 'vital_fields', f: vitals
  =link_to_add_fields "Add Vitals", f, :vitals
