=render 'person_profile'

%h2 Consultation for #{@consultation.person.first_name} #{@consultation.person.surname}

%h3.well.offset5 Consultation: #{@consultation.status}

.clearfix

%h3 SOAPS

-@consultation.soaps.each do |soap|
  .well.span3
    %h4 Type
    =soap.soap_type.name
    %hr
    %h4 Comment
    =soap.comment
    %hr
    -soap.vitals.each do |v|
      .span3

        %h5 Vitals
        %h6.span2 Blood Pressure
        %p.span1=v.blood_pressure

        %h6.span2  Pulse
        %p.span1=v.pulse

        %h6.span2  Respiratory Rate
        %p.span1=v.respiratory_rate

        %h6.span2  Temperature
        %p.span1=v.temperature

        %h6.span2  Height
        %p.span1=v.height


        %h6.span2  Weight
        %p.span1=v.weight

    -soap.diagnoses.order("id DESC").each do |diag|
      .diagnosis
        %h5 Diagnosis
        =diag.icd
        =diag.comments
        %p.small=diag.time.strftime("at %I:%M%p on %a the %d ")
        =link_to "Edit Diagnosis", edit_diagnosis_path(diag), :class => "btn-mini btn-warning"
      %hr.clearfix
    =link_to "Add Diagnosis", new_diagnosis_path(:soap_id => soap.id),:class => "btn btn-primary"


%hr.clearfix
=link_to  edit_consultation_path(@consultation),:class=>"btn btn-warning" do

  %i.icon-pencil
  &nbsp;Edit



