=simple_form_for (@medical_aid) do |f|
  =f.input :name
  =f.input :address
  =f.input :city
  =f.input :province
 
  =f.input :contact_person
  =f.input :email
  =f.input :tel
  =f.input :fax
  =f.button :submit

