%h2 Lab Order List
%table#LabOrdersData
 %thead
  %tr
   %th="Patient Name"
   %th="Lab Order"
   %th="Ordering Doctor"
   %th=""
 %tbody
  - @lab_orders.each do |t|
   - if t.status = 0
    %tr
     %td=t.soap.consultation.person
     %td=t.lab_test.name
     %td=t.soap_id
     %td=link_to "Lab Results", class: "btn"
