%h2 Profile Types
%table#ptype
 %thead
  %tr
   %th="Name"
   %th="Show on Snapshot"
   %th="Show"
   %th="Edit"
   %th="Delete"
 %tbody
  - @ProfileTypes.each do |t|
   %tr
    %td=t.name
    %td=t.snapshot
    %td=link_to "Show", profile_type_path(t.id), :class => "btn"
    %td=link_to "Edit", edit_profile_type_path(t.id), :class => "btn"
    %td=link_to "Delete", profile_type_path(t.id),confirm: 'Are you sure you want to delete this profile type?', method: :delete, :class => "btn"

%br.clearfix
=link_to "Create New Profile Type", new_profile_type_path, :class => "btn btn-success"