.row
  %h1.span8= "Profile Type Show"
  .clearfix
  .span4.well
    .clearfix
    %h3 Type Name
    %p= @ProfileType.name
    %h4 Snapshot
    %p= @ProfileType.snapshot
  .clearfix
    .span4.well
      %h2.span7="Sub Types"
      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th="Name"
          %th="Description"
        - @ProfileType.profile_sub_types.each do |p|
          %tr
            %td=p.name
            %td=p.description
  .span8
    =link_to "Back", profile_types_path, :class => "btn"
    =link_to "Edit", edit_profile_type_path(@ProfileType), :class => "btn"
    =link_to "Delete", @ProfileType, confirm: 'Are you sure?', method: :delete , :class => "btn btn-important"